[Desktop Entry]
Type=Application
Name=Review
Comment=Read PDF documents
Exec=review -- %f
Icon=review
Terminal=false
Categories=Graphics;Viewer;
MimeType=application/pdf;
StartupNotify=true
StartupWMClass=review
